<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
          type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% include head-custom.html %}
</head>
<body>
<a id="skip-to-content" href="#content">Skip to the content.</a>

<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{
        page.description | default: site.description | default: site.github.project_tagline
        }}</h2>
    <a href="./index.html" class="btn">Wichtigstes</a>
    <a href="./briefing.html" class="btn">Briefing</a>
    <a href="./material.html" class="btn">Material</a>
    <a href="./enrolment.html" class="btn">Anmeldung</a>
    <a href="./schedule.html" class="btn">Termine</a>
</header>

<main id="content" class="main-content" role="main">
    <nav>
        <ul></ul>
    </nav>
    {{ content }}

    <!--
    <footer class="site-footer">
         <span class="site-footer-credits"><a href="./archive.html">Archiv</a></span>
    </footer>
    -->
</main>
</body>
</html>
